<!doctype html>
<html lang="{{ site.lang }}" style="height:100%">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
    <style>
      footer.fixed-bottom {position: static;}
    </style>
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless
      site.footer_fixed %}sticky-bottom-footer{% endunless %}" style="height:100%; padding-bottom: 0">
    <!-- Header -->
    {% include header.liquid %}

    <div style="height:100%; display: flex; flex-direction:column">
      {{ content }}

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts.liquid %}
    </div>
  </body>
</html>
